<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="io.github.rhildred.cordovabugreport"
        version="0.0.1">

  <name>Cordova Bug Report</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/bugreport.js" target="js/bugreport.js"/>

  <js-module src="www/bugreport.js" name="bugreport">
    <clobbers target="bugreport" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BugReport">
        <param name="android-package" value="io.github.rhildred.cordovabugreport.BugReport"/>
      </feature>
    </config-file>

    <source-file src="src/android/BugReport.java" target-dir="src/io/github/rhildred/BugReport"/>
  </platform>


</plugin>